@import url('../../utils/colors.css');

.form{
    display:flex;
    flex-direction:column;
    width:100%;
    max-width:390px;
    margin:auto;
    margin-bottom:16px;
}
.btn{
    width:100%;
    max-width:90px;
    margin: 10px auto;
    padding:5px;
    cursor:pointer;
    background: var(--color-btn-bg);
    color: var(--color-btn-txt);
    border:none;
    border-radius: 5px;
}
.errorMessage{
    text-align:center;
    color: red;
}