.container{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.section{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 0px 20px;
}
.h1{
    max-width: fit-content;
    text-align:center;
    font-size: 2em;
}
.h2{
    text-align:center;
    font-size: 2em;
}
