@import url('../../utils/colors.css');
.main{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    margin-top:20px;
}
.container{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.h1{
    max-width: fit-content;
    text-align: center;
    font-size: 2em;
    color: var(--color-h1);
}
.homeLink{
    margin-top:20px;
}
