.containerTableComponent{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 964px;
    padding:10px;
}
.containerInputs{
  display:flex;
  justify-content: space-between;
  margin:10px 0;
}
.table {
    width: 100%;
    max-width: 954px;
    border-collapse: collapse;
}
.td, .th {
    border: none;
    padding: 8px;
}
.tr:nth-child(even) {
  background-color: #f2f2f2;
}
.arrow:hover{
  cursor:pointer;
}
.containerFooter{
  display: flex;
  justify-content: space-between;
  margin-top:15px;
}
.containerPagination{
  width:40px;
  margin-right: 10px;
  margin-left: 10px;
}
.containerButton{
  display: flex;
}
.hiddenLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 700px) {
  .table, tbody, .tr, .th, .td{
    display:block;
  }
  thead {
    display: none;
  }
  .td {
    padding-left: 150px;
    position: relative;
    margin-top: -1px;
  }
  .td::before {
    padding: 10px;
    content: attr(data-label);
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    bottom: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  .tr {
    margin-bottom: 1rem;
  }
}